body {
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  border: 1px solid red;
}
